<style type="text/css">
p {
  color: #26b72b;
}
</style>

<h1>About Page
 </h1>

 <h5 style="color: black"> This project has allowed me to showcase my skills in many ways. I have been able to design this website to develop frontend skills.This is a Mebrat Todo list app made, so that people can remain orgzinized. Mebrat means light, and that's what this app is intended to bring light and organization into the lives of the user. </h5>






