<style type="text/css">

{
  color: #26b62b;
}
</style>

<h1>Help Page
 </h1>

 <h5 style="color: black">
If you need a help please contact the creator of this page Kedamawit at habteked@grinnell.edu.
  </h5>
