<style type="text/css">

{
  color: #26b62b;
}
</style>

<h1>Question Page
 </h1>

 <h2> <br>Commonly Asked Questions
 <br></h2>

 <h4><br> 1.) What is this app? </br></h4> 
 <h5 style="color: black"> This is a todo list app.
  </h5>


 <h4><br>2.) Who is the creator? </br></h4>
 <h5 style="color: black"> Kedamawit Habte
  </h5>

 <h4> <br>3.)I have other questions? </h4></br>
 	 <h5 style="color: black"> Please contact habteked@grinnell.edu
  </h5>


 
